/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import './primevue.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* global styles */
html {
    font-size: 14px;
}

body {
    margin: 0;
    background: var(--surface-b);
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}
